
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
  --black:#000000;
  --blue:#0068E5;
  --darkBlue:#0c354f;
}

/*
 font-family: "Inter", sans-serif;
*/


button:focus, input:focus {outline: none;}
body {font-size:16px; font-family: "Inter", sans-serif; color: var(--black); }
h1,h2,h3,h4 { font-family: "Inter", sans-serif; font-weight: 400;  }
img {max-width: 100%;}
a, a:hover {text-decoration: none;}
.wrapper {position: relative; max-width:1920px; margin: 0px auto; padding-top: 100px;}
.container {max-width: 1396px;}


.blue-btn {background:var(--blue); color:#ffffff; padding:12px 35px; border-radius:25px; font-size: 16px; font-weight:500; border:none; display: inline-block; font-family: "Inter", sans-serif; position: relative; transition: background 0.2s linear; }
.blue-btn:hover {background:var(--darkBlue); color: #ffffff; text-decoration: none;}
.blue-btn img {margin-left: 5px; transition: transform 0.2s linear;}
.blue-btn:hover img {transform: translate(5px, 0px);}

.header {padding:14px 0px 12px 0px;transition: all 0.2s linear; position: fixed; top: 0px; width: 100%;left: 0px; z-index: 11;}
.header.fix {box-shadow: 0 0 10px rgba(0,0,0,0.3); background:#fff; padding: 12px 0px;}

.right-head .user-icon {color: #000; padding: 0px 0px 0px 26px; margin-right: 30px; background: url(../images/member-icon.svg) no-repeat 0px 0px;}




.mainNav {position: relative; }
.mobileNavBtn:focus {outline: none;box-shadow: none;}
.mobileNavBtn {display: none; border:none; cursor: pointer; float:right; width: 33px; height: 28px;background: #ffffff; position: relative; z-index: 101;transition: right 0.2s linear; padding: 0px; margin:-1px 0px 0px 0px;}
.mobileNavBtn span { width:24px; left: 6px; top: 6px; height: 2px; background:#000000; position: absolute; transition: all 0.3s linear;border-radius: 2px;}
.mobileNavBtn span:nth-child(2) {top: 13px;}
.mobileNavBtn span:nth-child(3) {top: 21px;}
.openNav {overflow: hidden;}
.openNav .mobileNavBtn {top: 10px; left: 256px; position: fixed;border:none;}
.openNav .mobileNavBtn span { top: 12px; width: 16px;}
.openNav .mobileNavBtn span:nth-child(2){display: none;}
.openNav .mobileNavBtn span:nth-child(1){transform:rotate(45deg)}
.openNav .mobileNavBtn span:nth-child(3){transform:rotate(-45deg); top: 12px;}

.hasChild {position: relative;}
.hasChild>a{position: relative; padding-right:20px;}
.hasChild>a:before {content: ""; position: absolute; right: 1px; top: 3px; width: 7px; height: 7px; border-right: solid 2px #000;border-bottom: solid 2px #000; transform: rotate(45deg);}
.hasChild .subMenu {position: absolute; left: 0px; top: 95%;  width:200px; transform: rotateX(90deg);transform-origin: top; transition: transform 0.3s linear;}
.hasChild .subMenu ul {background-color: #ffffff; box-shadow: 0px 0px 5px rgba(0,0,0,0.3); padding: 10px; border-radius: 10px; margin: 15px 0px 0px 0px;}
.subMenu li {display: block;}
.subMenu li a {padding:8px 15px; font-size: 14px; display: block; color: #000; border-bottom: solid 1px #efefef;}

@media (min-width: 1026px) {
  .navigation>ul {padding: 0px 0px 0px 10px; margin:0px; list-style: none;}
  .navigation>ul>li {display: inline-block; margin: 0px 0px; padding:8px 15px; line-height: 1; vertical-align: middle;}
  .navigation>ul>li>a {color:var(--black); font-size: 16px;  font-weight: 400; display: inline-block;  font-family: "Inter", sans-serif;}
  .navigation>ul>li a:hover {color:var(--blue); text-decoration: none; }
  .navigation>ul>li .active {color:var(--blue); }
  .navigation>ul>li:last-child {border-right: none;}
  .subMenu li a:hover { color:var(--blue);}
  .hasChild:hover .subMenu {transform: rotateX(0deg);}

}
.overLay {transition: all 0.3s linear;position: fixed; top: 0px; left: 0px;width: 100%;height: 100%; background:rgba(0,0,0,0.5);z-index: 11; display: none;}
@media (max-width: 1025px) {
  .header .col-b {flex:1 1 0; order: 1; width: auto; min-width: 60px;}
  .header .col-c {display: none;}
  .mobileNavBtn {display: inline-block; }
  .navMain {text-align: right; position: relative;margin: 7px 15px 3px 0px;display: inline-block;width: 100%;}
  .navigation {position: fixed;top: 0px;width:290px;bottom: 0px;  z-index: 100; left:-291px; transition: all .2s linear; height: 100%; padding:42px 15px 10px 15px;background:#ffffff;}
  .openNav .navigation {left: 0px;} 
  .openNav .overLay  {display: block;} 
  .navigation>ul {margin:0px;padding:0px 0px 10px 0px; list-style: none;min-height: calc(100vh - 60px); text-align: left; width: 100%;}
  .navigation>ul>li {padding:8px 10px;    border-bottom: solid 1px #ccc;}
  .navigation>ul>li>a {color:var(--black); font-weight: 500; display:block;}

  .hasChild .subMenu {position: static; display: none;  width: 100%;transform: rotateX(0deg);}
  .hasChild .subMenu ul {box-shadow: none;margin: 0px; padding: 0px;}
  .hasChild>a:before {right: 6px; top: 7px;}
  
}


.home-heading {padding: 0px 0px 20px 0px;}
.home-heading h2 {margin: 0px 0px 20px 0px; font-weight: 700; font-size: 48px;}
.home-heading .desc {margin: 0px 0px 20px 0px; font-weight: 400; font-size:16px;}


.home-sec-a {background-color:rgb(0 104 229 / 10%); padding: 80px 0px;
  background-image: url(../images/reaility-pattern-01.png), url(../images/reaility-pattern-02.png);
  background-position: -10px 90px, bottom -60px right -10px;
  background-repeat: no-repeat;}
.home-sec-a .img {position: relative; background: url(../images/reaility-pattern-02.1.png) no-repeat left 0px bottom 0px; padding: 0px 0px 4px 27px; margin: 0px -20px 0px -35px;}
.home-sec-a .tag {font-weight: 600; font-size: 14px; color: #616161;text-transform: uppercase; letter-spacing: 1px; padding: 0px 0px 0px 20px; position: relative; margin-bottom: 20px;}
.home-sec-a .tag:before {content: ""; position: absolute; left: 0px; top: 9px; width: 14px; height: 2px;background: #00BF37;}
.home-sec-a .h1 {font-size: 60px; font-weight: 600; color: #000; margin: 0px 0px 20px 0px;}
.home-sec-a .tet-a {font-size: 16px; font-weight: 400; padding: 0px 0px 30px 0px; max-width: 610px;}
.home-sec-a .tet-b {font-size: 14px; font-weight: 400; color:#616161; padding: 20px 0px 0px 0px; max-width: 400px; }
.home-sec-a .text {max-width: 650px;}

.home-sec-b {position: relative; padding: 80px 0px 30px 0px;}
.home-sec-b .batch {position: absolute; left: 50%; top:0px; transform: translate(-50%,-50%);}
.home-sec-b .h2 {font-size: 24px; font-weight: 500; text-align: center; margin: 0px 0px 20px 0px;}
.home-sec-b .item {line-height: 72px; text-align: center;}

.logoSlider { position: relative; overflow: hidden;max-width: 100%;  margin: 0 auto;}
/*.logoSlider .owl-carousel .owl-stage {transition: transform 2.0s linear !important;}*/
.logoSlider .slider-a { width: max-content; animation: moveSlideshow 15s linear infinite;}
@keyframes moveSlideshow {
  0% {transform: translateX(0px); }
  100% {transform: translateX(-1600px); }
}
.logoSlider .item {display: inline-block; vertical-align: top; margin: 0px 30px;}


.home-sec-c {padding: 60px 0px 90px 0px;}
.home-sec-c .home-heading {text-align: center; max-width: 940px; margin: 0px auto;}
.offers-sec {background-color: #04c0381a; border-radius: 16px; padding-bottom: 40px;}
.offers-sec .tab-nav {text-align: center; padding: 80px 20px 20px 20px;}
.offers-sec .tab-nav span {font-size: 20px; font-weight: 500; color: #000;line-height: 1.2; padding: 2px 20px 10px 20px; border-bottom: solid 3px #CAE9D2; margin: 0px 10px; cursor: pointer; min-width: 250px; display: inline-block;}
.offers-sec .tab-nav span.active {border-bottom-color: #00BF37;}

.offer-block {margin: 30px 50px 0px 90px;}
.offer-block h2 {font-size: 36px; margin: 0px 0px 20px 0px; font-weight:600;}
.offer-block .txt-a {font-size: 16px; margin: 0px 0px 30px 0px;}
.offer-block-tab-sec {position: relative;margin-bottom: 30px;}
.offer-block-tab {padding: 10px 20px;}
.offer-block-tab.act {background-color: #D0EBD7;border-radius: 5px; padding: 20px 20px; margin: 10px 0px;}
.offer-block-tab .title {font-size: 18px; font-weight: 500; position: relative; cursor: pointer;}
.offer-block-tab .title .icon {border: solid 2px #222222; width: 20px; height: 20px; border-radius: 50%; position: absolute; right: 0px; top: 4px;}
.offer-block-tab .title .icon:before, .offer-block-tab .title .icon:after {content: ""; height: 2px; background-color: #222222; width: 9px; position: absolute; left: 4px; top: 8px;transition: transform 0.3s linear;}
.offer-block-tab .title .icon:after {transform: rotate(90deg);}
.offer-block-tab.act .title .icon:after {transform: rotate(0deg);}
.offer-block-tab .offer-block-desc {font-size: 15px; font-weight:400; display: none;padding-top: 10px;}
.offer-block-tab.act .offer-block-desc {display: block;}
.offer-block .blue-btn {background-color: #00BF37;}

.offer-banner-img {position: relative;}
.offer-banner-img:before {content: ""; width: 74px; height: 74px; position: absolute; left: -35px; bottom: 25px; background: url(../images/reaility-pattern-03.png) no-repeat 0px 0px;}

.home-sec-d {padding:10px 0px 0px 0px; position: relative;z-index: 1;}
.home-sec-d:before {content: ""; width: 74px; height: 74px; background: url(../images/reaility-pattern-03.png) no-repeat 0px 0px; position: absolute; right: 0px; top: 0px; transform: rotate(180deg);}
.home-sec-d:after {content: ""; width: 74px; height: 74px; background: url(../images/reaility-pattern-05.png) no-repeat 0px 0px; position: absolute; left: 0px; bottom:-30px;}
.home-sec-d .left {background: url(../images/reaility-pattern-04.png) no-repeat top 140px left 10px; padding: 30px 30px 0px 80px;}
.choose-box {border-radius: 16px; background: #ffffff; padding: 5px; box-shadow: 0px 8px 32px rgba(0,0,0,0.08); margin-bottom: 100px;}
.choose-box .img {background: #E6F0FD;border-radius: 16px;overflow: hidden;}
.choose-box .txt {padding: 40px 40px;}
.choose-box h3 {font-size: 22px; font-weight:600; margin: 0px 0px 10px 0px;}
.choose-box .txt-a {font-size: 16px; }
.home-sec-d .right {background: url(../images/reaility-pattern-04.png) no-repeat bottom 300px right 0px; padding: 95px 65px 0px 35px;}

.home-sec-e {background: url(../images/ele-sec-bg.jpg) no-repeat center; padding:300px 0px 0px 0px; margin-top: -290px; position: relative; }
.home-sec-e .banner-img {text-align: center; position: relative;}
.home-sec-e .home-heading {text-align: center; color: #ffffff; max-width:1000px; margin: 0px auto 50px auto; position: relative;}
.home-sec-e .home-heading .blue-btn {margin-top: 10px;}

.home-sec-f {background: #ffffff; padding:110px 0px 80px 0px;}
.home-sec-f .home-heading {text-align: center; max-width:620px; margin: 0px auto; padding-bottom: 0px;}
.users-say-slider {position: relative; padding:33px 26px 10px 100px; 
  background-image: url(../images/quote-icon.svg), url(../images/reaility-pattern-04.png);
  background-position: left 100px top 50px, right 0px top 0px;
  background-repeat: no-repeat; min-height: 300px;}

.users-say-slider .img-col {margin: 0px 0px 15px 0px; width: 440px;}
.users-say-slider .img-col img {border-radius: 15px;}
.users-say-slider .name {font-size: 20px; font-weight: 500;}
.users-say-slider .name span {font-size: 16px; font-weight: 400; color: #8F8F8F;}
.users-say-slider .qute-txt {font-size: 22px; padding:80px 30px 50px 80px; max-width: 610px; box-sizing: content-box;}

.users-say-slider .owl-dots {position: absolute; left: -90px; top: 0px; bottom: 0px;display: flex; flex-direction: column; justify-content: center; width: 35px;}
.users-say-slider .owl-dots .owl-dot {width: 28px; height: 28px; border:solid 1px #D9E8FB; border-radius: 50%;background: #ffffff; position: relative; margin: 5px 0px;}
.users-say-slider .owl-dots .owl-dot:before {content: "1"; position: absolute; left: 0px; top: 0px; height: 100%; width: 100%; text-align: center; line-height: 27px; color: #000; font-size: 14px; border-radius: 50%;}
.users-say-slider .owl-dots .owl-dot.active:before {background: var(--blue); color: #ffffff; font-weight: 600;}
.users-say-slider .owl-dots .owl-dot:nth-child(2):before {content: "2";}
.users-say-slider .owl-dots .owl-dot:nth-child(3):before {content: "3";}
.users-say-slider .owl-dots .owl-dot:nth-child(4):before {content: "4";}
.users-say-slider .owl-dots .owl-dot:nth-child(5):before {content: "5";}

.footer {padding:40px 0px;background:linear-gradient(#E6F0FD,#ffffff);}
.foot-links {text-align: right;}
.foot-links a {color: #000000; font-size: 16px; display: inline-block; margin: 0px 0px 0px 30px;}
.foot-links a:hover {color: var(--blue);}
.footer .row2 {padding-top: 50px;}
.copyright {color:#535551;font-size: 14px; font-weight: 400;}
.social-links {padding: 0px; margin: 0px; list-style: none;}
.social-links li {display: inline-block; vertical-align: top; margin: 0px 0px 0px 20px;}
.social-links li a {display: block; width: 22px; height: 22px; background: url(../images/social-icons.svg) no-repeat 0px 1px;}
.social-links .linked {background-position: -43px 0px;}
.social-links .rss {background-position: -87px 1px;}
.social-links .twitter {background-position: -132px 1px;}








.animation {opacity: 0;transform: translate(0px,70px); transition: all 0.5s linear;}
.animation.left {transform: translate(-60px,0px);}
.animation.right {transform: translate(60px,0px);}
.animation.ani {opacity: 1;transform: translate(0px,0px);}


.owlnav.owl-carousel .owl-nav button {width: 56px; height: 56px; background:#ffffff url(../images/slider-arrow.svg) no-repeat center; margin:0px; border-radius: 50%; position: absolute; left:-70px; top: 45%; border:solid 1px #DBDDE1;}
.owlnav.owl-carousel .owl-nav button.owl-next {transform: rotate(180deg);left: inherit; right: -70px;}
.owlnav.owl-carousel .owl-nav button span {display:none;}
.owlnav.owl-carousel .owl-nav button:hover {background-color:#efefef;}

.owlnav.owl-carousel .owl-dots {display: block;text-align: center; position: absolute; left: 0px; bottom:-40px; left: 0px; width: 100%; }
.owlnav.owl-carousel .owl-dot {width: 12px; height: 12px; background:rgba(0, 0, 0, 0.25); border-radius: 50%; margin: 5px 7px;}
.owlnav.owl-carousel .owl-dot.active {background:var(--blue);}
.owlnav.owl-carousel .owl-dot:focus {outline: none;}



@media(max-width: 768px) {

  .home-sec-a {padding: 50px 0px 90px 0px;  background-size: auto 140px; 
   background-position: 60px 23px, bottom 94px right 60px;}
  .home-sec-a .img {margin: 0px 0px 30px 0px; background: none; padding: 0px;}
  .home-sec-a .h1 {font-size: 40px;}
  .home-sec-a .blue-btn {width: 100%; text-align: center;} 

  .home-sec-b .h2 {font-size: 20px;}
  .logoSlider {width: 100%;}
  .home-sec-c {padding: 20px 0px 20px 0px;}

  .home-heading h2 {font-size: 40px;}

  .offers-sec .tab-nav {padding: 20px 0px 0px 10px; overflow-x: auto; white-space: nowrap;background-color: #CAE9D2; border-radius: 16px 16px 0px 0px;}
  .offers-sec .tab-nav span {font-size: 16px; min-width: inherit; padding: 2px 10px 10px 10px;margin: 0px 0px; border-bottom-width: 3px; }
  .offer-block {margin: 0px 24px;}
  .offer-banner-img:before {display: none;}
  .offer-block h2 {font-size: 28px; margin: 0px 0px 10px 0px;}
  .offer-block-tab.act {padding: 16px 20px;}
  .offer-block .blue-btn {width: 100%; text-align: center;}
  .offer-block-tab .title {font-size: 16px;}
  .offer-block-tab .title .icon {top: 1px;}
  .offer-block-tab {padding: 10px 0px;}
  .offer-block-tab.act {padding: 10px 15px;}


  .home-sec-d {padding: 30px 0px 0px 0px;}
  .home-sec-d:before, .home-sec-d:after {display: none;}
  .home-sec-d .left{background: none; padding: 0px;}
  .choose-box {margin-bottom: 40px;}
  .choose-box .txt {padding: 20px 15px;}
  .home-sec-d .right {background:none; padding: 0px;}
  .home-sec-e {margin-top: -90px; padding:110px 0px 0px 0px;}
  .home-sec-e .home-heading {text-align: left; margin: 0px auto 20px auto;}
  .home-sec-e .home-heading .blue-btn {width: 100%; text-align: center;}

  .home-sec-f {padding: 40px 0px 30px 0px;}
  .home-sec-f .home-heading {text-align: left;}
  .users-say-slider {background: none; padding: 0px;}
  .users-say-slider .name {font-size: 18px; margin-bottom: 30px;}
  .users-say-slider .qute-txt {background:url(../images/quote-icon.svg) no-repeat 0px 0px / auto 22px; padding: 40px 0px 0px 0px; font-size: 18px;}
  .users-say-slider .img-col {width: 100%;}


  .footer {padding: 20px 0px;}
  .foot-logo {text-align: center;}
  .foot-links {text-align: center; padding: 15px 0px;}
  .footer .row2 {padding-top: 5px;}
  .foot-links a {margin: 0px 5px;}
  .social-links {text-align: center;padding-bottom: 15px;}
  .copyright {text-align: center;}
}

















.scroll-ele::-webkit-scrollbar {height: 4px; width: 4px; }
.scroll-ele::-webkit-scrollbar-track {background: #ffffff; }
.scroll-ele::-webkit-scrollbar-thumb {background: #d9d9d9; width: 4px; border-radius: 2px;}

.modal-dialog {min-height: calc(100vh - 60px); display: flex; flex-direction: column; justify-content: center; overflow: auto; }
@media(max-width: 768px) {
  .modal-dialog {min-height: calc(100vh - 20px); }
}



